.photo-grid {
    margin: 0 200px 66px 200px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, fit-content(361px));
    column-gap: 17px;
    row-gap: 20px;
    max-width: 880px;
}

@media screen and (max-width: 1024px) {  
    .photo-grid { 
       margin: 0 calc((1024px - 880px)/2) 66px calc((1024px - 880px)/2);
     }
 } 

 @media screen and (max-width: 800px) {  
    .photo-grid { 
       margin: 0 2% 66px 2%;
     }
 } 

 @media screen and (max-width: 650px) {  
  .photo-grid { 
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(autofill, fit-content(361px));
     max-width: calc(100% - 4%);
   }
} 

 @media screen and (max-width: 425px) {  
    .photo-grid { 
       margin: 0 calc((100% - 282px)/2) 48px calc((100% - 282px)/2);
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(autofill, fit-content(361px));
       row-gap: 20px;
       max-width: 282px;
     }
 } 
 