.popup-input__text_type_edit::-webkit-input-placeholder { /* WebKit browsers */
    color: #000000;
 }

 .popup-input__text_type_edit:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000000;
 }

 .popup-input__text_type_edit::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000000;
 }

 .popup-input__text_type_edit:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000000;
 }



 