.popup-input__text {
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
    border: none;
    min-height: 27px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup-input__text:focus {
   outline: 0;
   outline-offset: 0;
}

.popup-input__text:first-of-type {
   margin: calc(111px - 34px) 0 5px 0;
}
.popup-input__text:last-of-type {
   margin: 0 0 5px 0;
}


.popup-input__text::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 1;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: auto;
 }

 .popup-input__text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity: 1;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: auto;
 }

 .popup-input__text::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity: 1;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: auto;
 }

 .popup-input__text:-ms-input-placeholder { /* Internet Explorer 10+ */
    opacity: 1;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: auto;
 }

 
