@import "./__avatar/profile__avatar.css";
@import "./__info/profile__info.css";
@import "./__name/profile__name.css";
@import "./__occupation/profile__occupation.css";
@import "./__button/profile__button.css";
@import "./__button/_type/profile__button_type_edit.css";
@import "./__button/_type/profile__button_type_add.css";



.profile {
    margin: 0 200px 45px 200px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 880px;
    border: 1px red solid;
}

@media screen and (max-width: 1024px) {  
    .profile { 
       margin: 0 calc((1024px - 880px)/2) 45px calc((1024px - 880px)/2);
     }
 } 

 @media screen and (max-width: 800px) {  
    .profile { 
       margin: 0 2% 45px 2%;
       min-width: calc(100% - 4%);
     }
 } 

 @media screen and (max-width: 650px) {  
    .profile { 
       margin: 0 2% 36px 2%;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
   }
} 


 @media screen and (max-width: 425px) {  
    .profile { 
       margin: 0 calc((100% - 282px)/2) 36px calc((100% - 282px)/2);
       min-width: 282px;
     }
 } 