.button_type_add {
    margin-left: auto;
    padding: 0;
    min-width: 150px;
    min-height: 50px;
    background-image: url('../../../images/button-add.png');
    border: 1px #FFFFFF solid;
}

.button_type_add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 650px) {  
    .button_type_add { 
       margin: 0;
       min-width: 90px;
       min-height: 30px;
     }
 } 

@media screen and (max-width: 425px) {  
    .button_type_add { 
       font-size: 27px;
       line-height: auto;
       min-width: 282px;
       min-height: 50px;
     }
 } 