.button_type_edit {
    background-image: url('../../../images/button-edit.png');
    color: #FFFFFF;
    min-width: 24px;
    min-height: 24px;
    width: 100%;
    border: 1px #FFFFFF solid;
}

.button_type_edit:hover {
    opacity: 0.6;
}


@media screen and (max-width: 320px) {  
    .button_type_edit { 
       font-size: 27px;
       line-height: auto;
       min-width: 18px;
       min-height: 18px;
     }
 } 