.button_type_heart {
    margin: 0;
    padding: 0;
    min-width: 20.76px;
    min-height: 18.13px;
    color: #000000;
    background-image: url('../../../images/card-button-heart.svg');
    background-position: center;
    background-size: cover;
    background-color: #FFFFFF;
    transition: background-color 0.5s linear;
    border: none;
}

.button_type_heart:hover {
   cursor: pointer;
   opacity: 0.5;
}

.button_type_heart:active {
    background-image: url('../../../images/card-button-heart-active.png');
 }