.button_type_close {
    margin: 0;
    padding: 0;
    background-image: url('../../../images/button-close.png');
    min-width: 56px;
    min-height: 56px;
    border: none;
    position: absolute;
    top: -56px;
    right: -56px;
    color: #FFFFFF;
}

.button_type_close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 425px) {  
    .button_type_close { 
       right: 0px;
       top: -37px;
       min-width: 37px;
       min-height: 37px;
     }
 } 

