.logo {
    margin: 0;
    padding: 0;
    min-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 425px) {  
    .logo { 
       margin: 0 0 0 27px;
       min-width: 33%;
       max-height: 24.4px;
     }
 } 