.popup-input {
    margin: 0;
    padding: 34px 36px 37px 36px;
    display: flex;
    min-width: calc(430px - 36px*2);
    flex-direction: column;
    opacity: 1;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    position: fixed;
    min-height: calc(330px - 34px - 37px);
}

 @media screen and (max-width: 480px) {  
    .popup-input {
       padding: 25px 22px 25px 22px;
       min-width: 282px;
       box-sizing: border-box;
       min-height: 322px;   
     }
 }

