.profile__avatar {
    margin: 0 30px 0 0;
    padding: 0;
    min-width: 120px;
    min-height: 120px;
    border: 1px red solid;
}

@media screen and (max-width: 650px) {  
    .profile__avatar { 
       margin: 0 0 26px 0;
     }
 } 

