.profile__button_type_edit {
    background-image: url('../../../../images/profile-button-edit.svg');
    background-size: cover;
    background-position: center;
    background-color: #000000;
    color: #FFFFFF;
    min-width: 24px;
    min-height: 24px;
    width: 100%;
    border: 1px red solid;
}

@media screen and (max-width: 320px) {  
    .profile__button_type_edit { 
       font-size: 27px;
       line-height: auto;
       min-width: 18px;
       min-height: 18px;
     }
 } 